<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <style>
        .form-group{
            margin-bottom: 10px;
        }
        body {
                background: #eecda3;
                background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
                background: linear-gradient(to right, #eecda3, #ef629f);
                min-height: 100vh;
            }

        body::-webkit-scrollbar{
            width: 0%;
        }
    </style>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

</head>
<body>

    <%- include('../partials/navbar')  %>

    <section>
        <div class="container p-5 mt-4">

            <div class="container  text-white  text-center">
                <h1>Checkout</h1>
            </div>

            <form action="/checkout/payment/<%= totalAmount %>" class="needs-validation" method="POST" novalidate>
                <div class="container">
                    <div class="row">
        
                        <div class="col-md-6 bg-white p-3 " style="border-right:2px solid black;overflow: auto;max-height: 580px;">
                            <h3 class="text-center">Billing Details</h3>
        
        
                            <div class="row ps-3 mt-4">
                                <div class="col-md-6 col-sm-6 col-xs-12 mb-3">
                                    <div class="field-label">First Name</div>
                                    <input type="text" name="first_name" required class="form-control mt-1" value=""
                                        placeholder="First Name">
                                        <div class="invalid-feedback">
                                            Please Provide First Name.
                                        </div>
                                </div>
        
                                <div class="col-md-6 col-sm-6 col-xs-12 mb-3">
                                    <div class="field-label">Last Name</div>
                                    <input type="text" name="last_name" required class="form-control mt-1" value=""
                                        placeholder="Last Name">
                                    <div class="invalid-feedback">
                                        Please Provide Last Name.
                                    </div>
                                </div>
                            </div>
        
                            <div class="row ps-3">
                                <div class="col-md-6 col-sm-6 col-xs-12 mb-3">
                                    <div class="field-label">Phone</div>
                                    <input type="text" name="phone" required class="form-control mt-1" value=""
                                        placeholder="Phone">
                                    <div class="invalid-feedback">
                                        Please Provide Phone Number.
                                    </div>
                                </div>
        
                                <div class="col-md-6 col-sm-6 col-xs-12 mb-3">
                                    <div class="field-label">Email Address</div>
                                    <input type="text" name="email" required class="form-control mt-1" value=""
                                        placeholder="Email">
                                    <div class="invalid-feedback">
                                        Please provide an email.
                                    </div>
                                </div>
                            </div>
        
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="field-label">Address</div>
                                <input type="text" name="address" required value="" class="form-control mt-1"
                                    placeholder="Street address">
                                    <div class="invalid-feedback">
                                        Please Provide Your Address.
                                    </div>
                            </div>
        
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="field-label">Town/City</div>
                                <input type="text" name="city" required class="form-control mt-1" value="" placeholder="City">
                                <div class="invalid-feedback">
                                    Please Provide Town/City.
                                </div>
                            </div>
        
                            <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                <div class="field-label">State</div>
                                <input type="text" name="state" required class="form-control mt-1" value="" placeholder="State">
                                <div class="invalid-feedback">
                                    Please Provide State.
                                </div>
                            </div>
        
                            <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                <div class="field-label">Postal Code</div>
                                <input type="text" name="postal_code" required class="form-control mt-1" value=""
                                    placeholder="Postal Code">
                                <div class="invalid-feedback">
                                    Please Provide Postal Code.
                                </div>
                            </div>
        
                        </div>
        
                        <div class="col-md-6 p-4 bg-white" style="overflow: auto;max-height: 580px;">
                            <div class="row">
                                <div class="col-md-12 order-md-2 mb-4">
        
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-muted">Total Product : </span>
                                        <span class="badge badge-danger badge-pill">
                                            1
                                        </span>
                                    </h4>
        
                                    <ul class="list-group mb-3">
        
                                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                <div class="d-flex">
                                                    <img src="<%=product.image%>" alt="" width="60"
                                                        class="img-fluid rounded shadow-sm">
                                                    <div class="p-2">
                                                        <h6 class="my-0">
                                                            <%=product.name%>
                                                        </h6>
                                                        <small class="text-muted">
                                                            <%=product.category%>
                                                        </small>
                                                    </div>
                                                </div>
                                                <span class="text-muted">
                                                    <%=product.selling_price%>
                                                </span>
                                            </li>
        
        
                                                <li class="list-group-item d-flex justify-content-between">
                                                    <span>Total (Rupees)</span>
                                                    <strong>Rs. <%= totalAmount %></strong>
                                                </li>
        
                                    </ul>
        
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary">Proceed to Payment</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
        
                
            </form>

            
        </div>
    </section>

<!-- Add Bootstrap JS and Popper.js for Bootstrap functionality -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="/JS/script.js"></script>

    
</body>
</html>


