<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

    <link rel="stylesheet" href="/CSS/star.css">
    <link rel="stylesheet" href="/CSS/app.css">
    <style>
        body {
            background: #eecda3;
            background: -webkit-linear-gradient(to right, #eea3eb, #628aef);
            background: linear-gradient(to right, #eeb1a3, #62efe8);
            min-height: 100vh;
        }
    </style>

</head>

<body>

    <!-- Navbar -->
    <%- include('../partials/navbar') %>

        <div class="container mt-5 p-4">
            <div class="col-lg-11   p-4 main-section bg-white" style="margin-top: 20px;">
                <h5 class="  pl-3 pt-0 pb-2 text-danger text-center">
                    Product Detail
                </h5>
                <div class="row m-0">

                    <div class="col-lg-5 ">
                        <img src="<%=product.image%>" class=" img-fluid" style="height: 90%;width: 100%;">
                    </div>

                    <div class="col-lg-7">
                        <div class="  p-4 m-0">
                            <div class="row">
                                <div class="col-lg-12">

                                    <h5 class="mb-2 p-0">
                                        <%=product.name%>
                                    </h5>
                                </div>

                                <div class="col-lg-12 mt-1">
                                    <span class="h5 text-secondary">Rs. <%=product.selling_price%> </span>
                                    <span class="old-price">Rs. <%=product.price%> </span>
                                    <span class="discount">(<%=product.discount%> off)</span>
                                    <hr class="p-0 m-1">
                                </div>

                                <div class="col-lg-12 pt-2">
                                    <h5>Product Detail</h5>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris.</span>
                                     <hr class="p-0 m-1">
                                </div>

                                <div class="col-lg-12">
                                    <p class="tag-section"><strong>Category : </strong><a href="">
                                            <%=product.category%>
                                        </a></p>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">

                                        <div class="col-md-6 pb-2">
                                            <form class="" action="/user/<%=product._id%>/add" method="post">
                                                <button type="submit" class="form-control btn btn-danger">Add To
                                                    Cart</button>
                                            </form>
                                        </div>

                                        <div class="col-md-6">
                                            <form action="/user/<%=product._id%>/checkout" method="POST">
                                                <button type="submit" class="btn btn-success form-control mb-3">Buy Now</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                               <div class="row">
                                    <div class="col d-flex  ml-3">
                                        <div class="p-2" style="background-color: rgb(186, 234, 198);border-right: 4px solid white;">
                                            <img alt="7-day Returns" width="20" height="20" src="https://images.meesho.com/images/value_props/return_new.png" style="color: transparent;">
                                            <span font-size="12px" font-weight="demi" color="greyBase">7-day Returns</span>
                                        </div>
        
                                        <div class="p-2" style="background-color: rgb(186, 234, 198);border-right: 4px solid white;">
                                            <img alt="7-day Returns" width="20" height="20" src="https://images.meesho.com/images/value_props/cod_new.png" style="color: transparent;">
                                            <span font-size="12px" font-weight="demi" color="greyBase">Online Payment</span>
                                        </div>
        
                                        <div class="p-2 " style="background-color: rgb(186, 234, 198);">
                                            <img alt="7-day Returns" width="20" height="20" src="https://images.meesho.com/images/value_props/lowest_price_new.png" style="color: transparent;">
                                            <span font-size="12px" font-weight="demi" color="greyBase">Lowest Price</span>
                                        </div>
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tab Content -->

                <div class="m-2">
                    <ul class="nav nav-pills" id="myTab" style="background-color: #eeeeee;border-radius: 8px;">
                        <li class="nav-item p-2">
                            <a href="#description" class="nav-link active" data-bs-toggle="tab">Description</a>
                        </li>
                        <li class="nav-item p-2">
                            <a href="#review" class="nav-link" data-bs-toggle="tab">Review</a>
                        </li>
                        <li class="nav-item p-2">
                            <a href="#write" class="nav-link" data-bs-toggle="tab">Write Review</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="description">
                            <div class="container ">
                                <div class="row">
                                    <div class="col-md-12 bg-white " style="text-align: justify;">
                                        <h4 class="mt-2 text-center">Description tab content</h4>
                                        <p>Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                                            apparel, butcher voluptate nisi qui.
                                            Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt
                                            tofu stumptown aliqua,
                                            williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                                            dreamcatcher synth.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="review">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 p-2 bg-white" style="overflow: auto;max-height: 350px;">

                                        <% if(product.reviews.length == 0){ %>

                                            <h5 class="text-center text-muted mt-2">No Review Yet</h5>

                                        <% } %>

                                        <% if(product.reviews.length > 0){ %>


                                        <% for(let review of product.reviews){ %>
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 p-3">
                                                    <img src="https://www.tutorialrepublic.com/examples/images/avatar.svg"
                                                        class="rounded-circle" width="80" height="80"
                                                        alt="Sample Image">
                                                </div>
                                                <div class="flex-grow-1 p-2">
                                                    <h5>
                                                        <%=review.name%> <small class="text-muted"><i>Posted on
                                                                    <%=review.createdAt.toString() %></i></small>
                                                    </h5>
                                                    <h5 class="mt-0 mb-1">
                                                        <p class="starability-result" data-rating="<%=review.rating%>">
                                                            Rated: <%=review.rating%> stars </p>
                                                    </h5>
                                                    <p>
                                                        <%=review.comment%>
                                                    </p>
                                                </div>
                                            </div>
                                            <hr>

                                            <% } %>

                                        <% } %>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="write">
                            <form action="/products/<%= product._id %>/review" method="POST">


                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12  bg-white">
                                            <div class="row  p-2">
                                                <div class="col-md-12">
                                                    <div class="media">
                                                        <label class="pt-2">Rating : </label>
                                                        <div class="media-body  pl-3">
                                                            <fieldset class="starability-basic">
                                                                <input type="radio" id="no-rate" class="input-no-rate"
                                                                    name="rating" value="0" checked
                                                                    aria-label="No rating." />
                                                                <input type="radio" id="first-rate1" name="rating"
                                                                    value="1" />
                                                                <label for="first-rate1" title="Terrible">1 star</label>
                                                                <input type="radio" id="first-rate2" name="rating"
                                                                    value="2" />
                                                                <label for="first-rate2" title="Not good">2
                                                                    stars</label>
                                                                <input type="radio" id="first-rate3" name="rating"
                                                                    value="3" />
                                                                <label for="first-rate3" title="Average">3 stars</label>
                                                                <input type="radio" id="first-rate4" name="rating"
                                                                    value="4" />
                                                                <label for="first-rate4" title="Very good">4
                                                                    stars</label>
                                                                <input type="radio" id="first-rate5" name="rating"
                                                                    value="5" />
                                                                <label for="first-rate5" title="Amazing">5 stars</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <label for="name">Name</label>
                                                    <input type="text" class="form-control mt-1" id="name"
                                                        placeholder="Enter Your name" name="name" required="">
                                                </div>

                                                <div class="col-md-6 ">
                                                    <label for="email">Email</label>
                                                    <input type="text" class="form-control mt-1" name="email"
                                                        placeholder="Email" required="">
                                                </div>

                                                <div class="col-md-12 mt-2">
                                                    <label for="review">Comment</label>
                                                    <textarea class="form-control mt-1"
                                                        placeholder="Write Your Review Here" name="comment"
                                                        rows="5"></textarea>
                                                </div>

                                                <div class="col-md-12 mt-2">
                                                    <button class="btn btn-info" type="submit">Submit Your
                                                        Review</button>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
                <!-- Tabbed Section
             <div class="tab-container">
                <ul class="nav nav-tabs">
                    <li class="nav-product">
                        <a class="nav-link active" id="description-tab" data-toggle="tab"
                            href="#description">Description</a>
                    </li>
                    <li class="nav-product">
                        <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews">Reviews</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane fade show active" id="description">
                        <p>This is the product description. Add your detailed product information Lorem ipsum dolor sit,
                            amet consectetur adipisicing elit. Ipsa, similique?</p>

                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam, accusantium corrupti? Ea,
                            atque sed esse exercitationem quam officia quaerat architecto facere
                            harum dignissimos unde corporis iste impedit omnis ullam eligendi!</p>
                    </div>

                    <div class="tab-pane fade" id="reviews">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="mt-2">Add review</h3>
                                    <form action="/products/<%= product._id %>/review" method="POST">
                                        <div class="mb-3 mt-3">
                                            comment it : <label class="form-label" for="stars">Rating</label> <br>

                                            <fieldset class="starability-basic">
                                                <input type="radio" id="no-rate" class="input-no-rate" name="rating"
                                                    value="0" checked aria-label="No rating." />
                                                <input type="radio" id="first-rate1" name="rating" value="1" />
                                                <label for="first-rate1" title="Terrible">1 star</label>
                                                <input type="radio" id="first-rate2" name="rating" value="2" />
                                                <label for="first-rate2" title="Not good">2 stars</label>
                                                <input type="radio" id="first-rate3" name="rating" value="3" />
                                                <label for="first-rate3" title="Average">3 stars</label>
                                                <input type="radio" id="first-rate4" name="rating" value="4" />
                                                <label for="first-rate4" title="Very good">4 stars</label>
                                                <input type="radio" id="first-rate5" name="rating" value="5" />
                                                <label for="first-rate5" title="Amazing">5 stars</label>
                                            </fieldset>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="comment">Comment: </label>
                                            <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
                                        </div>
                                        <button class="btn btn-sm btn-success">Submit</button>
                                    </form>

                                </div>

                                <div class="col-md-6">
                                    <div class="my-3">
                                        <ul class="list-unstyled">
                                            <% for(let review of product.reviews){ %>
                                                <li class="media">
                                                <img class="mr-3" src="https://th.bing.com/th?id=OIP.FUYG2ULJI1LzxUqxK9pCZQHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="Generic placeholder image" style="width: 80px;">
                                                <div class="media-body">
                                                    <h5 class="mt-0 mb-1">
                                                        <p class="starability-result" data-rating="<%=review.rating%>">
                                                        Rated: <%=review.rating%> stars </p>
                                                    </h5>
                                                    <p><%=review.comment%></p>
                                                </div>
                                                </li>
                                            <% } %>

                                          </ul>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>

                </div>


            </div> -->
            </div>

            <!-- <div class="container">
            <div class="row">
                <div class="m-4 col-md-10 bg-white">
                    <ul class="nav nav-pills" id="myTab">
                        <li class="nav-item p-2">
                            <a href="#description" class="nav-link active" data-bs-toggle="tab">Description</a>
                        </li>
                        <li class="nav-item p-2">
                            <a href="#review" class="nav-link" data-bs-toggle="tab">Review</a>
                        </li>
                        <li class="nav-item p-2">
                            <a href="#write" class="nav-link" data-bs-toggle="tab">Write Review</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="description">
                            <div class="container ">
                                <div class="row">
                                    <div class="col-md-10 bg-white " style="text-align: justify;">
                                        <h4 class="mt-2 text-center">Description tab content</h4>
                                        <p>Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                                             Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, 
                                            williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="tab-pane fade" id="review">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-10 p-4 bg-white">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 p-3">
                                                <img src="https://www.tutorialrepublic.com/examples/images/avatar.svg" class="rounded-circle" width="80" height="80" alt="Sample Image">
                                            </div>
                                            <div class="flex-grow-1 p-2">
                                                <h5>Jhon Carter <small class="text-muted"><i>Posted on January 10, 2021</i></small></h5>
                                                <p>Excellent feature! I love it. One day I'm definitely going to put this Bootstrap component into use and I'll let you know once I do.</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 p-3">
                                                <img src="https://www.tutorialrepublic.com/examples/images/avatar.svg" class="rounded" width="80" height="80" alt="Sample Image">
                                            </div>
                                            <div class="flex-grow-1 p-2">
                                                <h5>Jhon Carter <small class="text-muted"><i>Posted on January 10, 2021</i></small></h5>
                                                <p>Excellent feature! I love it. One day I'm definitely going to put this Bootstrap component into use and I'll let you know once I do.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="tab-pane fade" id="write">
                            <form class="container ">
                                <div class="row">
                                    <div class="col-md-10  bg-white">
                                        <div class="row  p-4">
                                            <div class="col-md-12">
                                                <div class="media">
                                                    <label>Rating</label>
                                                    <div class="media-body ms-3">
                                                        <div class="rating three-star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mt-3">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control mt-1" id="name" placeholder="Enter Your name" required="">
                                            </div>
                            
                                            <div class="col-md-6 mt-3">
                                                <label for="email">Email</label>
                                                <input type="text" class="form-control mt-1" placeholder="Email" required="">
                                            </div>
                            
                                            <div class="col-md-12 mt-2">
                                                <label for="review">Comment</label>
                                                <textarea class="form-control mt-1" placeholder="Write Your Review Here" rows="5"></textarea>
                                            </div>
                            
                                            <div class="col-md-12 mt-2">
                                                <button class="btn btn-info" type="submit">Submit Your Review</button>
                                            </div>
                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
            
                    </div>
                </div>
            </div>
        </div> -->

            <!-- Nav tabs -->


            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    var tabList = [].slice.call(document.querySelectorAll("#myTab a"));
                    tabList.forEach(function (tab) {
                        var tabTrigger = new bootstrap.Tab(tab);

                        tab.addEventListener("click", function (event) {
                            event.preventDefault();
                            tabTrigger.show();
                        });
                    });
                });
            </script>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
